.title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  // background-color: var(--backgroundColor);
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
}
.updating-label {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}
