footer {
  position: fixed;
  display: flex;
  height: 50px;
  background-color: gray;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
