<div *ngIf="isShowAllResult">
    <h1 class="txt-center" *ngIf="correctNumber == questions.length">🎈🎈 Quá tuyệt vời 🎈🎈</h1>
    <h1 class="txt-center">{{correctNumber}} / {{questions.length}}</h1>
    <div class="flex-center">
        <button *ngIf="correctNumber < questions.length" (click)="reset()">
            Làm lại</button>
        <a class="link-with-button" routerLink="/" routerLinkActive="router-link-active">
            <button>Trang chủ</button>
        </a>
    </div>
</div>
<div *ngIf="!isShowAllResult" class="do-test-area">
    <img *ngIf="questions[questionNumber].img" src="{{questions[questionNumber].img}}" alt="Hình ảnh câu hỏi"
        class="question-image">
    <h1>{{questionNumber + 1}}) {{questions[questionNumber].title}}</h1>
    <div class="answer" *ngFor="let item of answers; index as i">
        <input type="radio" id="{{i}}" name="selectAnswer" [disabled]="isShowResult"
            (change)="handleChange(item.isCorrect)">
        <label for="{{i}}">{{item.title}}</label>
    </div>
    <p *ngIf="isShowResult" [ngClass]="{success: isCorrect}" class="incorrect">
        {{ isCorrect ? 'Tuyệt vời, trả lời đúng rồi nè' : 'Sai rồi nè, cố gắng học thêm nha' }}
    </p>
    <button *ngIf="canShowCheck()" (click)="doCheck()" [disabled]="!isSelected && !isShowResult">
        Kiểm tra
    </button>
    <button *ngIf="canShowNextQuestion()" (click)="nextQuestion()">
        Câu tiếp theo
    </button>
    <button *ngIf="canShowViewResult()" (click)="showResult()" [disabled]="!isSelected && !isShowResult">
        Xem kết quả
    </button>
    <a routerLink="/" routerLinkActive="router-link-active">
        <button class="btn-exit">Thoát</button>
    </a>
    <app-maxim [index]="questionNumber"></app-maxim>
</div>