header {
  display: flex;
  height: 50px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  align-items: center;
  justify-content: center;
  a {
    font-size: 20px;
    margin: 0 0.5rem;
  }
}
