header {
  position: fixed;
  top: 0;
  display: flex;
  height: 50px;
  background-color: gray;
  color: white;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  a {
    font-size: 25px;
  }
}
