.drink {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  img {
    height: 300px;
    width: auto;
  }
  .drink-name {
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
  }
}
