.drink {
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.drink-img {
  height: 300px;
  width: auto;
  padding-bottom: 0.5rem;
}

.drink-name {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 0;
}
