<div class="text-container">
    <div class="test-course-area">
        <h1 class="chose-test">Chọn bài kiểm tra</h1>
        <div class="course-select">
            <a routerLink="/test/coffee" routerLinkActive="router-link-active">
                <button mat-flat-button color="primary">Cà phê</button>
            </a>
            <a routerLink="/test/glass" routerLinkActive="router-link-active">
                <button mat-flat-button color="primary">Loại Ly</button>
            </a>
            <a routerLink="/test/tool" routerLinkActive="router-link-active">
                <button mat-flat-button color="primary">Dụng cụ</button>
            </a>
            <a routerLink="/test/syrup" routerLinkActive="router-link-active">
                <button mat-flat-button color="primary">Syrup</button>
            </a>
            <a routerLink="/test/liqueur-spirit" routerLinkActive="router-link-active">
                <button mat-flat-button color="primary">Liqueur/Spirit</button>
            </a>
            <a routerLink="/test/tea" routerLinkActive="router-link-active">
                <button mat-flat-button color="primary">Trà</button>
            </a>
        </div>
        <app-maxim></app-maxim>
    </div>
</div>