.text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 100px);
  .course-select {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .chose-test {
    text-align: center;
  }
}
