/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  padding: 0 10px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  max-width: 300px;
  margin: 15px auto;
  align-self: center;
}

/* Blockquote header */
.blockquote h5 {
  position: relative;
  margin: 0;
  border: solid 1px;
  border-radius: 20px;
  padding: 15px;
  font-weight: 400;
  font-style: italic;
}

/* Blockquote right double quotes */
.blockquote h5:after {
  content: "";
  position: absolute;
  border: 1px solid;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 39px;
  bottom: -40px;
  left: 50px;
  border-bottom: none;
  border-left: none;
}

/* Blockquote subheader */
.blockquote h6 {
  position: relative;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
  margin-left: 110px;
  padding-left: 12px;
}

.blockquote h4:first-letter {
  margin-left: -12px;
}
