.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .course-select {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .update-infor {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
