<div class="home-container">
    <div class="test-course-area">
        <div class="course-select">
            <a routerLink="/kiem-tra" class="button" routerLinkActive="router-link-active">
                Kiểm tra
            </a>
            <a routerLink="/pha-che" class="button" routerLinkActive="router-link-active">
                Pha chế
            </a>
            <a routerLink="/ly-thuyet" class="button" routerLinkActive="router-link-active">
                Lý thuyết
            </a>
        </div>
        <app-maxim></app-maxim>
        <div class="update-infor">
            <span class="txt-center">Cập nhật 14h50 - 19/04/2021</span>
        </div>
    </div>
</div>