<div class="text-container">
    <div class="test-course-area">
        <h1 class="chose-test">Chọn bài kiểm tra</h1>
        <div class="course-select">
            <a routerLink="/kiem-tra/coffee" class="button" routerLinkActive="router-link-active">
                Cà phê
            </a>
            <a routerLink="/kiem-tra/glass" class="button" routerLinkActive="router-link-active">
                Loại Ly
            </a>
            <a routerLink="/kiem-tra/tool" class="button" routerLinkActive="router-link-active">
                Dụng cụ
            </a>
            <a routerLink="/kiem-tra/syrup" class="button" routerLinkActive="router-link-active">
                Syrup
            </a>
            <a routerLink="/kiem-tra/liqueur-spirit" class="button" routerLinkActive="router-link-active">
                Liqueur/Spirit
            </a>
            <a routerLink="/kiem-tra/tea" class="button" routerLinkActive="router-link-active">
                Trà
            </a>
        </div>
        <app-maxim></app-maxim>
    </div>
</div>