:root {
  --backgroundColor: #000;
  --textColor: #fff;
  --bodyBackgroundColor: #424242;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

.button:disabled {
  opacity: 0.9;
}

img {
  max-width: 100%;
}
.body-container {
  max-width: 1224px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button,
.button {
  margin: 0.5rem;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  min-width: 8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@import url("../src/assets/scss/grid.scss");

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
