:root {
  --backgroundColor: "#0000";
  --textColoer: "#fffff";
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
}

img {
  max-width: 100%;
}
.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("../src/assets/scss/grid.scss");
