.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  height: 2rem;
  width: 2rem;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.icon {
  background-color: #ff9800;
  transform: rotateZ(90deg);
  font-size: 2rem;
  padding-bottom: 0.4rem;
  color: #ffff;
}
.icon:hover {
  background-color: gray;
}
