.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  height: 2rem;
  width: 2rem;
  .icon {
    background-color: #ff9800;
    transform: rotate(90deg);
    font-size: 2rem;
    padding-bottom: 0.4rem;
    color: #fff;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
