p {
  font-size: 1.2rem;
}

.do-test-area {
  padding: 15px;
}

.incorrect {
  color: red;
}

.success {
  color: green;
}

button {
  margin-right: 1rem;
}

.answer {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.question-image {
  max-height: 300px;
}

.txt-center {
  text-align: center;
}

.action {
  display: flex;
  justify-content: space-around;
}

.link-with-button {
  text-align: center;
}
button {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  .question-image {
    max-height: 200px;
  }
}
