p {
  font-size: 22px;
}

.do-test-area {
  padding: 15px;
}

.incorrect {
  color: red;
}

.success {
  color: green;
}

.btn-test {
  padding: 10px 15px;
  margin: 7px;
}

.answer {
  font-size: 20px;
  margin-bottom: 5px;
}

.question-image {
  max-height: 300px;
}

.txt-center {
  text-align: center;
}

.action {
  display: flex;
  justify-content: space-around;
}

.link-with-button {
  text-align: center;
}

.btn-exit {
  background-color: gray;
}

@media (max-width: 768px) {
  h1 {
    font-size: 23px;
  }

  .question-image {
    max-height: 200px;
  }
}
