p {
  font-size: 1.2rem;
}

.do-test-area {
  padding: 1rem;
}

.incorrect {
  color: red;
}

.success {
  color: green;
}

.answer {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

  input[type="radio"],
  label {
    cursor: pointer;
  }
  label {
    margin-left: 0.5rem;
  }
}

.question-image {
  max-height: 15rem;
}

.txt-center {
  text-align: center;
}

.btn-exit {
  background-color: #e7e7e7;
  color: black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  .question-image {
    max-height: 10rem;
  }
}
